/* -- Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');

/* -- Global styles - Variables -- */

:root {

/* -- FONT-FAMILY -- */

--ff-fontfamily-merriweather: 'Merriweather', serif;
--ff-fontfamily-roboto: 'Roboto', sans-serif;
--ff-fontweight-thin: 100;
--ff-fontweight-exLight: 200;
--ff-fontweight-light: 300;
--ff-fontweight-normal: 400;
--ff-fontweight-medium: 500;
--ff-fontweight-bold: 700;
--ff-fontweight-black: 900;

/* -- FONT-SIZING -- */

--ff-fontsize-h1: clamp(1rem, 3vw + 1rem, 4rem);
--ff-fontsize-h2: 1.5rem;
--ff-fontsize-h3: 1.75rem;
--ff-fontsize-p: 1rem;

/* -- COLORS -- */

--primary-clr: hsl(259, 72%, 47%);
--secondary-clr: hsl(337, 83%, 60%);
--font-clr: hsl(0, 0%, 5%);
--region-africa: hsl(227, 42%, 52%);
--region-americas: hsl(120, 62%, 47%);
--region-asia: hsl(357, 46%, 52%);
--region-europe: hsl(49, 93%, 58%);
--region-oceania: hsl(282, 40%, 50%);
--region-global: rgb(66, 65, 65);
--background-clr: hsl(0, 0%, 92%);


/* -- LAYOUT CONTROL WIDTH AND MARGIN-- */

--outer-container-size: 100%;
--inner-container-size: 960px;
--inner-container-margin: 1.25em;
--padding-section: 6.25em;

/* -- ANIMATION -- */
scroll-behavior: smooth;
--animation-transition:all 0.35s ease-in-out;
}

/* -- CSS RESET -- */

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
margin: 0px;
padding: 0px;
line-height: calc(1em + 0.5rem);
}

body {
font-family: var(--ff-fontfamily-roboto);
font-weight: var(--ff-fontweight-normal);
font-size: var(--ff-fontsize-p);
color: var(--font-clr);
-webkit-font-smoothing: antialiased;
background-image: url(/noise-texture.png);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
    
  }

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/* -- TYPOGRAPHY -- */

h1 {
  font-size: var(--ff-fontsize-h1);
  font-family: var(--ff-fontfamily-merriweather);
  font-weight: var(--ff-fontweight-bold);
}

h2 {
  font-size: var(--ff-fontsize-h2);
  font-family: var(--ff-fontfamily-merriweather);
  font-weight: var(--ff-fontweight-normal);
}

h3 {
  font-size: var(--ff-fontsize-h3);
  font-family: var(--ff-fontfamily-merriweather);
  font-weight: var(--ff-fontweight-normal);
}

a {
  color: var(--accent-clr);
  font-weight: var(--ff-fontweight-normal);
  transition: var(--animation-transition);
  text-decoration: none;
}

/* -- LAYOUT STYLING -- */

.outer-container {
  width: var(--outer-container-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px dashed red; */
}

.inner-container {
  flex-basis: var(--inner-container-size);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 var(--inner-container-margin);
  /* border: 1px dashed blue; */
}

/* Header styling */

.header-outer {
  background-color: bisque;
  background-image: url(/noise-texture.png);
}

.header-inner {
  --inner-container-size: 1200px;
  width: var(--inner-container-size);
  padding: 2rem 0rem;
  text-align: center;
}

.world-map {
  margin-top: 0.5rem;
}

.content-map-countries {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 justify-content: center;
 margin-top: -6rem;
}



.placeholder-country {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  background-color: var(--background-clr);
  border-radius: 8px;
}

.placeholder-country h4 {
  font-size: 1.1rem;
  line-height: 1.25rem;
  font-weight: var(--ff-fontweight-bold);
}

.placeholder-country p {
  font-size: 0.75rem;
  font-weight: var(--ff-fontweight-medium);
  text-transform: uppercase;
}


.country-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid ;
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px 4px 0px 0px;
  box-shadow:  1px -1px 8px 2px rgba(0, 0, 0, 0.05);
}

.country-specs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-pop {
  width: 12%;
}

.flag-country {
  flex-basis: 1;
  width: 22%;
}

/* colors regions */

.region-africa {
 color: var(--region-africa);
}

.region-americas {
 color: var(--region-americas);
}

.region-asia {
 color: var(--region-asia);
}

.region-europe {
 color: var(--region-europe);
}

.region-europe h4 {
  text-shadow: -0.03em 0.08em hwb(0 20% 80%)
 }
 

.region-oceania {
 color: var(--region-oceania);
}

.region-global {
 color: var(--region-global);
}


/* ---------------------- Media query Tablet -------------------------------------- */

@media only screen and (max-width: 768px)  {

  .placeholder-country {
    flex-basis: 40%;
    
  }

}

/* ---------------------- Media query Mobile -------------------------------------- */

@media only screen and (max-width: 480px)  {

  .placeholder-country {
    flex-basis: unset;
    
  }

}